<%- include('../partials/header.ejs') %>

<body>


  <div class="container mt-4 text-center">

    <h1 class="text-bg-primary p-4 rounded display-3" style="font-family: 'Bebas Neue'"> OLIMPÍADAS BÍBLICAS RESTITUI ADVANCE</h1>

    <br>

    <!-- Tabela para os Times Vermelho -->
    <h1 style="color: red; font-family: 'Bebas Neue'" class="display-3">Time Vermelho</h1>

    <!-- LIDER -->
    <table class="table table-bordered table-striped">
      <h1 style="color: red">LÍDER DO TIME VERMELHO</h1>
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
        </tr>
      </thead>
      <tbody>

        <tr class="table-danger">

          <td class="h3" style="color: red">TALIA</td>

          <td class="h3" style="color: red"> <a href="https://api.whatsapp.com/send?phone=5519995364042" target="_blank" style="color: red"> 19995364042 |WhatsApp <i class="fa-brands fa-whatsapp"></i></a></td>
        </tr>


      </tbody>
    </table>

    <br>
    <h2><%= obrasVermelho.length %> participantes</h2>


    <!-- HOMENS -->
    <table class="table table-bordered table-striped">
      <h1>Homens</h1>
      <tbody>
        <% if (obrasVermelhoHomens.length > 0) { %>
        <% obrasVermelhoHomens.forEach(obra => { %>
        <tr class="table-danger">
          <td class="h3"><%= obra.nome %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="2">Nenhum Homem cadastrado no time Vermelho.</td>
        </tr>
        <% } %>
      </tbody>
    </table>



    <!-- MULHERES -->
    <table class="table table-bordered table-striped">
      <h1>Mulheres</h1>
      <tbody>
        <% if (obrasVermelhoMulheres.length > 0) { %>
        <% obrasVermelhoMulheres.forEach(obra => { %>
        <tr class="table-danger">
          <td class="h3"><%= obra.nome %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="2">Nenhuma Mulher cadastrada no time Vermelho.</td>
        </tr>
        <% } %>
      </tbody>
    </table>


    <!-- JOVENS -->
    <table class="table table-bordered table-striped">
      <h1>Jovens</h1>
      <tbody>
        <% if (obrasVermelhoJovens.length > 0) { %>
        <% obrasVermelhoJovens.forEach(obra => { %>
        <tr class="table-danger">
          <td class="h3"><%= obra.nome %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="2">Nenhum Jovem cadastrado no time Vermelho.</td>
        </tr>
        <% } %>
      </tbody>
    </table>


    <!-- CRIANÇAS -->
    <table class="table table-bordered table-striped">
      <h1>Crianças</h1>
      <tbody>
        <% if (obrasVermelhoCriancas.length > 0) { %>
        <% obrasVermelhoCriancas.forEach(obra => { %>
        <tr class="table-danger">
          <td class="h3"><%= obra.nome %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="2">Nenhuma Criança cadastrada no time Vermelho.</td>
        </tr>
        <% } %>
      </tbody>

    </table>

    <br>


    <!-- Tabela para os Times Verde -->
    <h1 style="color: green; font-family: 'Bebas Neue'" class="display-3">Time Verde</h1>
    <!-- LIDER -->
    <table class="table table-bordered table-striped">
      <h1 style="color: green">LÍDER DO TIME VERDE</h1>
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
        </tr>
      </thead>
      <tbody>

        <tr class="table-success">

          <td class="h3" style="color: green">RICHARD</td>

          <td class="h3"> <a href="https://api.whatsapp.com/send?phone=5519992875226" target="_blank" style="color: green"> 19992875226 | WhatsApp <i class="fa-brands fa-whatsapp"></i></a></td>
        </tr>


      </tbody>
    </table>

    <br>
    <h2><%= obrasVermelho.length %> participantes</h2>

    <!-- HOMENS -->
    <table class="table table-bordered table-striped">
      <h1>Homens</h1>
      <tbody>
        <% if (obrasVerdeHomens.length > 0) { %>
        <% obrasVerdeHomens.forEach(obra => { %>
        <tr class="table-success">
          <td class="h3"><%= obra.nome %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="2">Nenhum Homem cadastrado no time Verde.</td>
        </tr>
        <% } %>
      </tbody>
    </table>



    <!-- MULHERES -->
    <table class="table table-bordered table-striped">
      <h1>Mulheres</h1>
      <tbody>
        <% if (obrasVerdeMulheres.length > 0) { %>
        <% obrasVerdeMulheres.forEach(obra => { %>
        <tr class="table-success">
          <td class="h3"><%= obra.nome %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="2">Nenhuma Mulher cadastrada no time Verde.</td>
        </tr>
        <% } %>
      </tbody>
    </table>


    <!-- JOVENS -->
    <table class="table table-bordered table-striped">
      <h1>Jovens</h1>
      <tbody>
        <% if (obrasVerdeJovens.length > 0) { %>
        <% obrasVerdeJovens.forEach(obra => { %>
        <tr class="table-success">
          <td class="h3"><%= obra.nome %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="2">Nenhum Jovem cadastrado no time Verde.</td>
        </tr>
        <% } %>
      </tbody>
    </table>


    <!-- CRIANÇAS -->
    <table class="table table-bordered table-striped">
      <h1>Crianças</h1>
      <tbody>
        <% if (obrasVerdeCriancas.length > 0) { %>
        <% obrasVerdeCriancas.forEach(obra => { %>
        <tr class="table-success">
          <td class="h3"><%= obra.nome %></td>
        </tr>
        <% }) %>
        <% } else { %>
        <tr>
          <td colspan="2">Nenhuma Criança cadastrada no time Verde.</td>
        </tr>
        <% } %>
      </tbody>

    </table>
  </div>
</body>
<%- include('../partials/footer.ejs') %>